In [4]:
# _ when you don't wanna use a varianble and don't to keep count

for _ in range (3):
    print("hello")

hello
hello
hello

In [5]:
# it's the same as using a variable name

for i in range (3):
    print("hello")

hello
hello
hello

In [6]:
# keeping count of something

for i in range (3):
    print("hello {}".format(i))

hello 0
hello 1
hello 2

In [15]:
# range

i = 1
j = 6

list(range(i,j))

[1, 2, 3, 4, 5]

In [18]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
for i in range(i,j):
    print("Hello {}".format(i))

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5

In [19]:
# dosn't work because the default is count +1 and not -1

list(range(-1, -10))

[]

In [21]:
# change counting default to -1

list(range(-1, -10, -1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [77]:
l = list(range(10))

In [27]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
l = [i for i in range(10) if i==1]

In [30]:
l

[1, 3, 5, 7, 9]

In [86]:
# list comprahension

# l = []    make a list
# i         format of i in the list (alternative use [i])
# for i     loop
# in range  the thing we wanna loop trough
# if        condition
# (i%2)==1  divide i by two and check if the rest is equal to 1

l = [i for i in range(10) if (i%2)==1]

In [85]:
l

[1, 3, 5, 7, 9]

In [38]:
# if you wanna use else it have to be at the beginning

l = [i if (i%2)==1 else 0 for i in range(10)]
l

[0, 1, 0, 3, 0, 5, 0, 7, 0, 9]

In [71]:
# build a pair

for i in range(4):
    for j in range(4):
        print((i,j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [76]:
# as one line and in a list 

[(i, j) for i in range(4) for j in range(4)]

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3)]

In [44]:
x = 20
[i for i in range(x) if (i%2)==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [48]:
# functional programming
# function can be variables

# ?filter returns a boolean

def is_odd(x):
    return x%2==1

In [49]:
def identity(x):
    return True

list(filter(identity, range(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [75]:
# map returns another value

def print_name(s):
    print('hello {}'.format(s))

l = ['marie', 'ines', 'derek']
list(map(print_name, l))

hello marie
hello ines
hello derek

[None, None, None]

In [118]:
# make a list in range 100, just every 7 number, just even numbers, return as string

[i for i in range(100) if (i%7)==0 and (i%2)==0]

[0, 14, 28, 42, 56, 70, 84, 98]

In [27]:
# strip = delete every falue that is equal to the falue in parantheses from end and beginning of the string
z = '01001010000'
z = z.strip('0')

print(z)

100101

In [23]:
# return biggest value
max(['a', 'bb', 'c'])

'c'

In [25]:
# return string with the biggest lenght 
max(['a', 'bb', 'c'], key=len)

'bb'

In [36]:
# tubles can be used as a key in the set (not possible with lists)
# when in doupt: don't use tuples

# set = (keys)
# dictionary = {keys: values}